Import pandas as pd.py

In [2]:
# convention for importing numpy
import pandas as pd
import numpy as np
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days) # prints
#0       Monday
#1      Tuesday
#2    Wednesday
#dtype: object


# creating series with a numpy array
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days) # prints
#0       Monday
#1      Tuesday
#2    Wednesday
#dtype: object

# using strings as index
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'], 
index=['a', 'b', 'c'])
# create series from a dictionary
days1 = pd.Series({'a':'Monday', 'b':'Tuesday', 'c':'Wednesday'})

# days and days1 prints this 
#a       Monday
#b      Tuesday
#c    Wednesday
#dtype: object

#Series can be accessed using the specified index as shown below
days[0] #=  Monday

days[1: ] #= b      Tuesday
           # c    Wednesday
            #dtype: object

days['c']  #= Wednesday

0       Monday
1      Tuesday
2    Wednesday
dtype: object
0       Monday
1      Tuesday
2    Wednesday
dtype: object

'Wednesday'

In [5]:

print(pd.DataFrame())
# prints an empty dataframe
#Empty DataFrame
Columns: []
Index: []

# create a dataframe from a dictionary
df_dict = {'Country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'],
           'Capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'],
           'Population': [10000, 8500, 35000, 12000],
           'Age': [60, 70, 80, 75]
}
df = pd.DataFrame(df_dict, index=[2, 4, 6, 8])

df_list = [['Ghana', 'Accra', 10000, 60], 
           ['Kenya', 'Nairobi', 8500, 70], 
           ['Nigeria',   'Abuja', 35000, 80], 
           ['Togo', 'Lome', 12000, 75]]
df1 = pd.DataFrame(df_list, columns=['Country', 'Capital','Population', 'Age'], 
                   index=[2, 4, 6, 8])

# df and df1 prints this
#      Country   Capital   Population	Age
#2	Ghana	     Accra     10000	60
#4	Kenya	     Nairobi   8500	       70
#6	Nigeria     Abuja     35000	80
#8	Togo	     Lome      12000	75

Empty DataFrame
Columns: []
Index: []

In [6]:
# select the row in the at index 3
df.iloc[3] #=  Country       Togo
            #  Capital       Lome
             # Population   12000
              #Age           75
              #Name: 8, dtype: object
# select row with index label 6
df.loc[6] #=   Country      Nigeria
           #   Capital      Abuja
             # Population  35000
             # Age          80
              #Name: 6, dtype: object
# select the Capital column
df['Capital'] #= 2      Accra
               # 4    Nairobi
                #6      Abuja
                #8       Lome
               #Name: Capital, dtype: object
df.at[6, 'Country'] #= Nigeria
df.iat[2, 0] #= Nigeria

'Nigeria'

Dataframes.py

Dealing with Missing data.py

In [7]:
df_dict2 = {'Name': ['James', 'Yemen', 'Caro', np.nan],
           'Profession': ['Researcher', 'Artist', 'Doctor', 'Writer'],
           'Experience': [12, np.nan, 10, 8],
           'Height': [np.nan, 175, 180, 150]}

new_df = pd.DataFrame(df_dict2)

#       Name	Profession	Experience	Height
#0	James	Researcher	  12.0	       NaN
#1	Yemen	Artist	         NaN	      175.0
#2	Caro	Doctor	         10.0	      180.0
#3	NaN	Writer	          8.0	      150.0

# check for cells with missing values as True
new_df.isnull()

#       Name	Profession	Experience	Height
#0	False	  False	  False	True
#1	False	  False	  True	       False
#2	False	  False	  False	False
#3	True	  False	  False	False

# remove rows with missing values
new_df.dropna()
#	Name	Profession	Experience	Height
#2	Caro	Doctor	         10.0	       180.0

   Name Profession  Experience  Height
2  Caro     Doctor        10.0   180.0

Describe function.py

In [9]:
df['Population'].sum() #= 65500
df.mean() #= Population    16375.00
            #Age           71.25
            #dtype: float64
df.describe() #= 	       Population  Age
                 #count      4.0         4.0
                 #mean	 16375.00    71.3
                 #std	 12499.2	 8.5
                 #min	 8500.0      60.0
                 #25%	 9625.0      67.5
                 #50%	 11000.0     72.5
                 #75%	 17750.0     76.3
                 #max	 35000.0	80.0

         Population        Age
count      4.000000   4.000000
mean   16375.000000  71.250000
std    12499.166639   8.539126
min     8500.000000  60.000000
25%     9625.000000  67.500000
50%    11000.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000

Accessors.py